@font-face {
  font-family: Myriad Pro;
  src: url(Roboto-Regular.ttf);
}

* {
  padding: 0%;
  margin: 0%;
}

html {
  font-size: clamp(7.5px, 1vw, 10px);
}

body {
  font-family: Roboto;
}

.navbar-collapse {
  flex-grow: 0;
}

.pagenavbar li a {
  font-size: 1.4rem;
}

.pagenavbar li a:hover {
  transform: scale(1.05);
}
.pagenavbar__icons a i {
  font-size: 2rem;
  color: #55cd38;
}
.pagebanner {
  position: relative;
}

.pagebanner img {
  height: auto;
  width: 100%;
}

.pagebanner__content {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.pagebanner__content h1 {
  font-size: 5rem;
}

.pagebanner__content p {
  font-size: 1.6rem;
}

.pagebanner__content a {
  font-size: 1rem;
  background-color: #55cd38;
  border-radius: 0px;
  padding-top: 1.5rem 1rem;
  border: 0px;
}

.pagebanner__content a:hover {
  background-color: black;
  color: #55cd38;
}

.story {
  padding-top: 7rem;
}

.story img {
  width: 100%;
  height: auto;
}
.story__content h2 {
  font-size: 5rem;
  font-weight: 600;
  color: #55cd38;
}

.story__content span {
  font-size: 1.2rem;
}


.story__content p {
  width: 70%;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.story__content a {
  font-size: 1rem;
  background-color: #55cd38;
  border-radius: 0px;
  padding-top: 1.5rem 1rem;
  border: 0px;
}

.story__content a:hover {
  background-color: black;
  color: #55cd38;
}

.services {
  margin-top: 7rem;
}

.services__heading {
  font-size: 3.8rem;
  color: #55cd38;
  font-weight: 600;
}

.services span {
  font-size: 1.7rem;
  color: #9d949e;
  margin-bottom: 4rem;
}

.services__content h3 {
  font-size: 3rem;
}

.services__content p {
  font-size: 1.5rem;
}

.products {
  margin-top: 7rem;
}

.products__heading {
  font-size: 3.8rem;
  color: #55cd38;
  font-weight: 600;
}

.products span {
  font-size: 1.7rem;
  color: #9d949e;
  margin-bottom: 4rem;
}

.products__cards {
  margin-top: 6rem;
}

.figure {
  transition: all 0.5s ease-out;
}

.products__cards h5 {
  font-size: 2.5rem;
  font-weight: 600;
}

.products__cards span {
  font-size: 2.7rem;
  font-weight: 600;
  color: #55cd38;
}

.products__cards i{
  color: #55cd38;
  font-size: 1.2rem;
}

.figure:hover {
  box-shadow: 0 4px 10px rgb(63, 67, 63);
  transform: translateY(-10px);
  cursor: pointer;
}

.contact{
  background-color: rgb(40,28,28);
}
.contact__heading{
  color: white;
  font-weight: 700;
  font-size: 2rem;

}
.contact__description{
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.contact__description a{
  color: white;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}
.blog{
  margin-bottom: 5rem;
}
.blog-heading{
  font-size: 4rem;
  color: rgb(85,205,56);
  font-weight: 800;
}
.border-right{
  border-right: 1px solid white;
}
.blog-figure__figcaption__heading{
  color: rgb(50,52,51);
  font-size: 2.3rem;
  margin-top: 1.5rem;
}
.blog-figure__figcaption__description{
  font-size: 1.8rem;
  margin-top: 1.5rem;
  color: gray;
  font-weight: 300;
}
.blog-figure__figcaption__read-more{
  padding: 1rem;
  background-color: rgb(85,205,56);
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}





.footer-top{
  background-color: rgb(53,37,38);
}
.footer-top__row{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.footer-top__contact{
  margin-top: 2rem;
}
.footer__top__contact-list{
  font-size: 1.5rem;
}
.footer__top__contact-list span{
  margin-right: 1rem;
}

.footer-top__sections-heading{
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.footer-top__sections-heading::after{
  content: "";
  border-bottom: 1px solid white;
  display: block;
  margin-top: 1rem;
  width: 100%;
}
.footer-top__sections-list__items{
  margin-top: 1rem;
}
.footer-top__sections-list__items__a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  
}

.footer-top__sections-description{
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: white;
}
.input-group--transparent input{
  background: transparent;
  border-right: 0px;
}
.input-group--transparent button{
  background: transparent;
  color: white;
  font-size: 1.5rem;
  border-left: 0px;
  border-top:1px solid white;
  border-bottom:1px solid white;
  border-right:1px solid white;
}
.footer-bottom{
  background-color: rgb(40,28,28);
  padding: 2rem;
}
.footer-bottom__container__items{
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border: 1px solid white;
  padding: 0.5rem;
}
.footer-bottom__container__items__a{
  text-decoration: none;
  color: white;
}



.footer-bottom__container__items__a i{
  font-size: 2rem;
}

@media (max-width: 767px) {
  .border-right{
    border-right: none;
  }
}


@media only screen and (max-width: 437px) {
  .pagebanner__content h1 {
    font-size: 3rem;
  }

  .pagebanner__content p {
    font-size: 1rem;
  }

  .pagebanner__content a {
    font-size: 0.5rem;
  }
}
