@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

* {
  padding: 0%;
  margin: 0%;
}

html {
  font-size: clamp(0.75rem, 1vw, 1rem);
}

body {
  font-family: Roboto;
}

header {
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('assets/home-banner.jpg');
  background-size: cover;
  filter: brightness(30%);
  z-index: -1;
}


.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #2459ff;
  color: white;
}

.navbar-toggler i {
  color: white;
}

.nav-item__button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 0.5rem 2rem 0.5rem 1rem;
  cursor: pointer;
}

.nav-item__button:hover {
  background-color: #2459ff;
  border: 1px solid #2459ff;
}

.banner__form-holder {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.2);
}

.input-group {
  width: 43%;
}

.input-group-text {
  background-color: white;
  border-right: 1px solid white;
}

.btn {
  padding: 14px 26px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-danger {
  background-color: #2459ff;
  border-color: #2459ff;
}

.btn-danger:hover {
  border: 1px solid #2459ff;
  background-color: transparent;
  color: black;
}

.banner__looking {
  color: white;
  width: 40%;
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.form-control {
  border-color: #ebebeb;
}

.form-control-lg {
  height: calc(1.7em + 1rem + 2px);
}

.aa {
  line-height: 28px;
}

.icons {
  position: relative;
  bottom: 6rem;
}

.icons .card i {
  font-size: 1.7rem;
}

.icons .card {
  background-color: #2459ff !important;
  border-radius: 0.5rem 0.5rem !important;
  color: #ebebeb;
  height: 8rem !important;
  width: 8rem !important;
  box-shadow: 0px 0.6rem 0.6rem -2px rgba(82, 79, 79, 0.5);
}

.hero h2 {
  font-size: 3rem;
  font-weight: 600;
}

.hero span{
  color: #c6c5c6;
}

.hero .row {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}


.hero .left {
  position: relative;
}

.hero .left img {

  height: auto;
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
}

.hero .left h3 {
  position: absolute;
  bottom: 10%;
  font-weight: 600;
}

.hero .right h3 {
  position: absolute;
  bottom: 10%;
  font-weight: 600;
}

.right-side {
  position: relative;
}

.hero .image-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2rem 2.5rem;
  border-radius: 1rem;
  height: 4rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}


.hero .right img {
  width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.shadow-parent {
  position: relative;
}

.cards-section h2 {
  font-size: 3rem;
  font-weight: 600;
}

.cards-section__span{
  color: #c6c5c6;
}

.cards-section .row{
  padding-top: 2rem;
}



.card {
  padding: 0 !important;
  border-radius: 0.5rem;
  transition: all 0.5s ease-out;
}

.card:hover{
  box-shadow: 0 0 10px rgba(23, 30, 235, 0.3);
  transform: translateY(-10px);
}

.card-body {
  padding: 0 !important;
}

.text-content {
  margin-top: -3rem;
}

.text-content span {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}


.card-ad i {
  color: #f5cf84;
}

.rating-section {
  font-size: 1.2rem;
}

.rating5 {
  background-color: green;
  padding: 2px;
  color: white;
  border-radius: 2px;
  font-weight: 600;
}

.profile img {
  height: 3rem;
  margin-right: 1rem;
  border-radius: 100%;
}

.profile p {
  font-size: 1rem!important;
  color: #cecdce;
}

.location {
  border-top: 1px solid gray;
}

.card {
  margin-top: 2rem;
  padding: 0 !important;
  border-radius: 0.5rem;
}

.card-body {
  padding: 0 !important;
}

.text-content {
  margin-top: -3rem;
}

.text-content span {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.card-ad i {
  color: #f5cf84;
}

.rating-section {
  font-size: 1.2rem;
}

.rating5 {
  background-color: green;
  padding: 2px;
  color: white;
  border-radius: 2px;
  font-weight: 600;
}

.profile img {
  height: 3rem;
  margin-right: 1rem;
  border-radius: 100%;
}

.profile p {
  font-size: 1.2rem;
}

.location {
  border-top: 1px solid gray;
}




.about-us {
  background-color: #f9faff;
}

.margin {
  margin-left: 1.5rem;
}

.about-us-photo {
  border-radius: 10px;
  width: 100%;
}

.row {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.about-us-heading {
  font-size: 3rem;

}

.about-details {
  padding: 3rem;
  background-color: white;
  color: #979fa9;
}

.about-details p {
  font-size: 1.5rem;
}

.thumb-img {
  border-radius: 100%;
}

.footer_top {
  height: 10rem;
  background-color: #112b3c;
}

.footer_top_nav {
  list-style: none;
  color: white;
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer_top_nav a {
  color: white;
  text-decoration: none;
}

.footer_top_nav a:hover {
  color: #538cb3;
}

.footer_bottom {
  height: 20rem;
  background-color: #17212b;

}

.footer_bottom__nav {
  color: #979fa9;
  display: flex;
  font-size: 1.7rem;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  flex-wrap: wrap;

}

.footer_bottom__nav a {
  text-decoration: none;
  color: #979fa9;
}

.footer_bottom__nav address {
  margin-bottom: 0px;
}

.copyright {
  list-style: none;
}

.footer_bottom__social-icon {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.footer_bottom__social-icon li {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_bottom__social-icon li i {
  font-size: 2.5rem;
  color: white;
  transition: all 0.2s ease-out;
}

.footer_bottom__social-icon li i:hover{
  transform: scale(1.5);
}

.footer_bottom__social-icon a {
  text-decoration: none;
}

@media (max-width: 1399.5px) and (min-width: 1199.5px) {
  .form-control-lg {
    height: calc(2.1em + 1rem + 2px);
  }
}


@media (max-width:767px) {
  .form-control-lg {
    height: calc(2.1em + 1rem + 2px);
  }

  .banner__text {
    padding-top: 0rem;
    font-size: 2rem;
  }

  .banner-content__form {
    width: 10%;
    display: flex;
    flex-direction: column;
  }

  .hero .right {
    padding: 1rem 2rem;
  }

  .main-logo {
    bottom: 0rem;
    padding: 0.1rem;
    top: 3rem;

  }

  .main-logo .col-md-2 {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
  }

  .banner-content__modal__icon {
    width: 93%;
  }

  .main-logo img {
    width: 30%;

  }

  .main-logo__item {
    width: fit-content;
  }

}